#main-header{
    display: flex;
    justify-content: space-around;
    height: 75px;
    width: 100%;
    background-color:#8C9EFF;
    align-items: center;
}
a { 
    color: inherit; 
    text-decoration: none;
} 
.main-link{
    color: white;
    font-size: 18pt;
    cursor: pointer;
}