.password-container {
    margin-top: 40px;
    width: 80%;
    margin-left: 10%;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
}

.password-error {
    margin-top: 40px;
    width: 80%;
    margin-left: 10%;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18pt;
    color: indianred;
}
