<h1 id="profile-title">Profile: {{email}}</h1>
<form id="profile-form" name="register-form" #form="ngForm" (submit)="updateUser(form)">
    <md-input-container>
        <input mdInput placeholder="First name" type="text" name="firstname" #firstnameErr="ngModel" ngModel [(ngModel)]="firstname" required>
    </md-input-container>
    <md-input-container>
        <input mdInput placeholder="Last name" type="text" name="lastname" #lastnameErr="ngModel" ngModel [(ngModel)]="lastname" required>
    </md-input-container>
    <md-input-container>
        <input mdInput placeholder="Date of birthday" type="date" name="date" #dateErr="ngModel" ngModel [(ngModel)]="date" required>
    </md-input-container>
    <md-input-container>
        <input mdInput placeholder="Password" type="password" name="pass" #passErr="ngModel" ngModel [(ngModel)]="pass" required minlength="3">
    </md-input-container>
    <button md-button name="profile-submit" id="profile-btn" type="submit">{{updated ? "Profile updated" : "Update profile"}}</button>
</form>
<div id="profile-errors">
    <div [hidden]="!firstnameErr.dirty || !firstnameErr.errors || !firstnameErr.errors.required">
        *First name is required
    </div>
    <div [hidden]="!lastnameErr.dirty || !lastnameErr.errors || !lastnameErr.errors.required">
        *Last name is required
    </div>
    <div [hidden]="!dateErr.touched || !dateErr.errors || !dateErr.errors.required">
        *Date is required
    </div>
    <div [hidden]="!passErr.dirty || !passErr.errors || !passErr.errors.required">
        *Password is required
    </div>
    <div [hidden]="!passErr.dirty || !passErr.errors || !passErr.errors.minlength">
        *Password minimum length is 3
    </div>
</div>