#login-title{
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
}
#login-form{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
}
#login-btn{
    background-color: #8C9EFF;
    color: white;
    width: 50%;
    margin-left: 25%;
}
.login-link-container{
    display: flex;
    margin-top: 40px;
    color: #8C9EFF;
}
a { 
    color: inherit; 
} 
.login-link{
    flex-grow: 1;
    text-align: center;
}
#login-inv-pass{
    margin-top: 30px;
    margin-left: 10%;
    color: indianred;
}