body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 4px indianred;
}
#burger{
       font-size: 20px; 
}
#burger:hover{
    font-size: 20px;
    cursor: pointer;
    color: indianred;
}
textarea:focus,
input:focus {
    outline: none;
}

#menu-top div:hover {
    cursor: pointer;
    color: indianred;
}

#menu-left div:hover {
    cursor: pointer;
    color: indianred;
}

#header-icon {
    margin-left: 20px;
    font-size: 25px;
    animation: switch 8s infinite;
    animation-timing-function: ease;
}

#header-icon:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes switch {
    0%,
    100% {
        color: black;
    }
    25% {
        color: white;
    }
    50% {
        color: indianred;
    }
    75% {
        color: white;
    }
}

#header-search {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

#header-search-input[type="text"] {
    padding: 10px;
    margin-right: 30px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#header-search-input[type="text"]:focus,
#header-search-input[type="text"].focus {
    border-bottom: solid 2px #191919;
}


#menu-left-search[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#menu-left-search[type="text"]:focus,
#menu-left-search[type="text"].focus {
    border-bottom: solid 2px #191919;
}

#menu-left-search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search-text {
    margin-right: 30px;
    font-size: 19px;
}

.header-search-text:hover {
    cursor: pointer;
    color: indianred;
    transform: scale(1.2);
}

#menu-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: solid 2px #c9c9c9;
}

#menu-top div {
    font-size: 15px;
    border: solid 1px #c9c9c9;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 20px;
}

#divider {
    width: 100%;
    align-items: flex-start;
    display: flex;
}

.author-text:hover {
    color: indianred;
    cursor: pointer;
    transform: rotate(-6deg);
}

#menu-left {
    min-width: 200px;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-top: solid 3px #c9c9c9;
    border-bottom: solid 2px #c9c9c9;
}

#menu-left div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    font-size: 15px;
    border-bottom: solid 1px #c9c9c9;
}

#content-container {
    background-image: url(../img/3.jpg);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin-top: 20px;
    height: 75px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.main {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 131px);
    justify-content: space-around;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 50px;
    flex-grow: 1;
    background-color: white;
    border: solid 1px #c9c9c9;
    border-radius: 3px;
}

.article-icon {
    margin-top: 75px;
    width: 200px;
    height: 200px;
    border: solid 2px #c9c9c9;
    border-radius: 2px;
}

.article-icon:hover {
    border: solid 1px indianred;
}


/*customized example from web*/

.w {
    display: flex;
    width: 100%;
    min-height: 600px;
    background-image: url(../img/2.jpg);
    background-size: cover;
    z-index: 5;
    background-position: 50% 0%;
    white-space: nowrap;
    font-size: 0;
}

.i {
    flex-grow: 1;
    height: 600px;
    display: inline-block;
    transition: all 1.3s ease-in-out;
    background: rgba(66, 66, 66, 0.5) url(../img/1.jpg) repeat fixed;
    background-size: cover;
    z-index: 4;
    background-position: 50% 0%;
    white-space: nowrap;
    font-size: 0;
}

.i:hover {
    transition: all 0s linear;
    opacity: 0;
}

.info:hover {
    color: indianred;
    cursor: pointer;
}


/*end*/

.lg,
.md,
.sm {
    display: none;
}

@media screen and (min-width: 1350px) {
    #menu-left-search-container{
        display: none !important;
    }
    .lg {
        display: block;
    }
    .info:hover {
        color: indianred;
        cursor: pointer;
        transform: scale(1.05);
    }
    .article-icon {
        margin-top: 75px;
        width: 200px;
        height: 200px;
        border: solid 2px #c9c9c9;
        opacity: 0.07;
        border-radius: 2px;
    }
    .article-icon:hover {
        transition: all 1s linear;
        transform: scale(1.05);
        opacity: 1;
        border: solid 1px indianred;
    }
}
@media screen and (max-width: 1350px) and (min-width:1100px) {
    #menu-left-search-container{
        display: none !important;
    }
    .info {
        margin: 15px;
        padding: 20px;
    }
        .lg {
        display: block;
    }
    .info:hover {
        color: indianred;
        cursor: pointer;
    }
    .article-icon {
        margin-top: 75px;
        width: 200px;
        height: 200px;
        border: solid 2px #c9c9c9;
        opacity: 0.07;
        border-radius: 2px;
    }
    .article-icon:hover {
        transition: all 1s linear;
        opacity: 1;
        border: solid 1px indianred;
    }

}
@media screen and (max-width: 1100px) and (min-width:720px) {
    #menu-left-search-container{
        display: none !important;
    }
    .main {
        flex-direction: column;
    }
    .lg {
        display: block;
    }
}

@media screen and (max-width: 720px) and (min-width:480px) {
    .main {
        flex-direction: column;
    }
    .w {
        display: none;
    }
    .md {
        display: block;
    }

    #menu-top {
        justify-content: space-around;
    }
    #menu-top div {
        margin: 0px;
    }
        .main {
        flex-direction: column;
    }
    #divider {
        flex-direction: column;
    }
    #menu-left {
        width: 100%;
    }
    #menu-left div {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .info {
        margin: 20px;
        padding: 20px;
    }
    #menu-top {
        justify-content: space-around;
    }
    #menu-top div {
        margin: 0px;
    }
    .main {
        flex-direction: column;
    }
    #divider {
        flex-direction: column;
    }
    #menu-left {
        width: 100%;
    }
    #menu-left div {
        width: 100%;
    }
    .w {
        display: none;
    }
    .sm {
        display: block;
    }
}