
.stopwatch-time{
    font-size: 30pt;
    text-align: center;
}
.stopwatch-lap-time{
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 30pt;
    text-align: center;
}
.stopwatch-button-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#stopwatch-laps-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(80vh - 200px);
}
#stopwatch-start{
    color: white;
}

#stopwatch-clear{
    color: white;
}

.green-color{
    background-color: #43A047;
}

.orange-color{
    background-color: #FFC107;
}

.gray-color{
    background-color: #C5CAE9;
    cursor: not-allowed;
}

.white-color{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.red-color{
        background-color: #E53935;
        cursor: pointer;
        
}


