/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
font-family: 'Zilla Slab', serif;
background-color: #E3F2FD;
}


.stopwatch-lap{
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 14pt;
}

.common-lap{
    color: black;
    font-weight: bold;
}
.better-lap{
    color: #43A047;
}
.worse-lap{
    color: #E53935;
}

.stopwatch-avg{
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 20pt;
    text-align: center;
}